/* Blog Section ----------------------------------------------- */

#blog {
    @extend %section;
    @include flex-center;
    padding-top: 10vh;

    .blog-container {
        width: 80%;
        padding: 50px;

        @include tablet-horizontal-large {
            width: 90%;
            padding: 5%;
        }

        a {
            text-decoration: none;
            color: $primary-color;
            transition: color 0.3s;

            &:hover {
                color: darken($primary-color, 20%)
            }
        }

        .featured-article {
            margin-bottom: 50px;

            h3 {
                @include blog-title(2.5rem);

                @include tablet-vertical {  
                    font-size: 2.2rem;
                }
            }

            p {
                font-size: 1.2rem;
                color: $primary-font-color;
                margin-bottom: 20px;
            }

            img {
                @extend %article-img;
            }
        }

        .smaller-articles {
            display: flex;
            justify-content: space-between;

            @include tablet-vertical {
                flex-direction: column;
            }

            .article {
                @extend %article;
                opacity: 0;

                @include tablet-vertical {
                    margin-bottom: 20px;
                }

                h3 {
                    @include blog-title(1.8rem);
                    @include tablet-horizontal {
                        font-size: 1.4rem;
                    }
                    @include tablet-vertical {
                        font-size: 1.7rem;
                    }
                }
            
                p {
                    font-size: 1rem;
                    @include tablet-horizontal {
                        font-size: 0.9rem;
                    }
                }

                img {
                    @extend %article-img;
                    min-height: 300px;
                }
            }
        } 
    }
}


/* .main {
    width: 80%;
    margin: 50px auto;
}

.featured-article img,
.article img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
} */



/* Media Queries ------------------- */

/* Tablet */

/* @media screen and (max-width: 1025px) {
  
    .main {
        width: 90%;
    }

    .featured-article h1 {
        font-size: 2.2rem;
    }

    .article {
        margin-bottom: 20px;

        &-skeleton {
            margin-bottom: 20px;
        }
        
        h2 {
            font-size: 1.7rem;
        }
    }

    .smaller-articles {
        flex-direction: column;
    }
  
} */

/* Smartphones Vertical */

/* @media screen and (max-width: 600px) {
  
    .featured-article {
        h1 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
    }
   
    .smaller-articles {
        flex-direction: column;
    }

    .article {
        margin: 10px 0;
        
        h2 {
            font-size: 1.3r;
        }
    }
    
} */



