/* Navigation --------------------------------------- */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    color: $nav-font-color;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60px;

    .nav-left {
        h1 {
            font-size: 3rem;
            color: darken($nav-font-color, 20%);
            font-weight: 300;

            span {
                color: lighten($nav-font-color, 10%);
                font-weight: 600;
                margin: 0 5px;
                position: relative;
                top: 5px;
            }
        }
    }

    .nav-right {
        .menu-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 2rem;
            height: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            z-index: 10;

            div {
                height: 0.25rem;
                background-color: $nav-font-color;
                transition: all 0.3s ease-in-out;
            }

            &.active {
                .bar1 {
                    transform: translateY(0.6rem) rotate(-45deg);
                }
                
                .bar2 {
                    opacity: 0;
                }
                
                .bar3 {
                    transform: translateY(-0.75rem) rotate(45deg);
                }
                
            }
        }      
    }
}