@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
#gallery, #about {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(18, 18, 18);
  color: rgb(150, 150, 150);
}

.overlay, .video-container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(18, 18, 18);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

/* Home Secstion ----------------------------------- */
.video-container {
  position: relative;
  z-index: -1;
  height: 100vh;
  display: grid;
  place-items: center;
}
.video-container video {
  object-fit: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center center;
}
.overlay h1 {
  position: relative;
  color: rgb(150, 150, 150);
  font-size: clamp(3.5rem, 5vw, 6rem);
  font-weight: 800;
  z-index: 10;
  animation: colorChange 1.5s ease-in-out infinite alternate;
}
@keyframes colorChange {
  from {
    color: #636363;
  }
  to {
    color: white;
  }
}
.overlay p {
  position: relative;
  color: white;
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 200;
}

/* About Section ------------------------------------------ */
#about {
  height: 100vh;
}
#about .about-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
#about .about-container h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}
#about .about-container p {
  width: 75ch;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 1.8;
}
#about .about-container .phrase {
  color: #636363;
  transition-property: color;
  transition-timing-function: ease;
}
#about .about-container .phrase:nth-child(1) {
  transition-delay: 0.1s;
}
#about .about-container .phrase:nth-child(2) {
  transition-delay: 0.2s;
}
#about .about-container .phrase:nth-child(3) {
  transition-delay: 0.3s;
}
#about .about-container .phrase:nth-child(4) {
  transition-delay: 0.4s;
}
#about .about-container .phrase:nth-child(5) {
  transition-delay: 0.5s;
}
#about .about-container .phrase:nth-child(6) {
  transition-delay: 0.6s;
}
#about .about-container .phrase:nth-child(7) {
  transition-delay: 0.7s;
}
#about .about-container .phrase.active {
  color: #c9c9c9;
}

/* Gallery Section ------------------------------------- */
#gallery .gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  position: relative;
  top: 50px;
}
#gallery .image-box, #gallery .text-box {
  border-radius: 10px;
}
#gallery .image-box:not(:last-child), #gallery .text-box:not(:last-child) {
  margin-bottom: 10px;
}
#gallery .image-box {
  width: 300px;
  margin-right: 10px;
}
#gallery .image-box:not(.tall) {
  height: 400px;
}
#gallery .image-box.tall {
  height: 600px;
}
#gallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#gallery .text-box {
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  background: rgb(31, 31, 31);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 5px;
  min-height: 40px;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

/*# sourceMappingURL=compiled_style.css.map */
