@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Colors */

:root {
    --on-background: rgb(66, 66, 66);
    --background: rgba(255, 255, 255, 1);
}

[data-theme="dark"] {
    --on-background: rgb(255, 255, 255, 0.9);
    --background: rgba(18, 18, 18, 1);
}

/* General */

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Jost, sans-serif;
    overflow-x: hidden;
    color: var(--on-background);
    background-color: var(--background);
    transition: background-color 0.7s ease, color 0.7s ease;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: var(--on-background);
}

a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid var(--on-background);
}

/* Sections */

section {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

h2 {
    font-size: 40px;
}

.header {
    width: 100vw;
}

.header h1 {
    font-size: 100px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    animation: focus-in-contract;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        letter-spacing: 0;
        filter: blur(0);
        opacity: 1;
    }
}

.social-media-icons {
    font-size: 70px;
    position: relative;
    top: -60px;
    text-align: center;
}

.social-media-icons i {
    cursor: pointer;
    transition: transform 0.5s ease;
    animation: focus-in-contract 3s linear;
}

.social-media-icons i:hover {
    transform: scale(1.1);
}

/* Section 1 */
/* Dark Mode Switch */
.theme-switcher {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 30px;
    right: 25px;
    cursor: pointer;
}
.theme-switcher span {
    margin-right: 10px;
    font-size: 1rem;
    color: var(--on-background);
}

.fas {
    font-size: 30px;
}

.fas:hover {
    transform: scale(1.1);
}

/* Section 2 */
.main-image {
    height: 50%;
    width: auto;
    position: relative;
    top: -25%;
    padding: 20px;
    border: 10px solid var(--on-background);
}

/* Section 3 */
.image-container {
    position: relative;
    top: -25%;
    height: 50vh;
}

.small-image {
    height: 50%;
    width: auto;
    padding: 20px;
    border: 10px solid var(--on-background);
}

.small-image:not(:first-child) {
    margin-left: 10px;
}

/* Section 4 */
.blog-container {
    margin: 0 auto;
    width: 50ch;
}

.blog-item {
    margin-bottom: 50px;
}

/* Section 5 */
.wave {
    width: 100%;
}

.wave > svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
