@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: whitesmoke;
    font-family: "Inter", sans-serif;
}

/* Sticky Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 60px;
    background: whitesmoke;
    padding: 5px 5%;
    color: rgba(55, 55, 55);
}

.nav-left h1 {
    font-size: 3rem;
    font-weight: 900;
    transition: font-size 0.3s ease;
}

#navbar.scrolled .nav-left h1 {
    font-size: 1.5rem;
}

.nav-right a {
    margin-left: 20px;
    color: hwb(0 15% 85%);
    transition: color 0.3s;
    text-decoration: none;
}

.nav-right a:hover {
    color: hsl(0, 0%, 25%);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 20px 0;
    color: rgba(33, 33, 33);
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: rgba(33, 33, 33);
}

.social-icons a:hover {
    color: hsl(0, 0%, 25%);
}

/* Media Queries ------------------- */

/* Tablet */

@media screen and (max-width: 1025px) {
    .nav-left h1 {
        font-size: 1.5rem !important;
    }
}

/* Smartphones */

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px 5%;
    }

    .nav-right a {
        margin-left: unset;
        margin-right: 20px;
    }
}
