@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
}

body {
    background: rgb(42, 42, 42);
    min-height: 100vh;
    position: relative;
    user-select: none;
}

.container {
    position: absolute;
    bottom: 200px;
    left: 35vw;
}
