@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
}

body {
    background: rgb(42, 42, 42);
    min-height: 100vh;
    position: relative;
    user-select: none;
}

.container {
    position: absolute;
    bottom: 200px;
    left: 35vw;
}

/* Left Box */

.left-box {
    position: absolute;
    left: -167px;
    z-index: 10;
}

.img-container {
    height: 110px;
}

/* Main Bar Container  */

.main-bar-container {
    position: relative;
    width: max-content;
}

.gold-bar {
    position: absolute;
    z-index: 1;
    height: 69px;
    width: 600px;
    max-width: calc(90vw + 15px);
    background: url(./gold.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0% 100%);
}

.black-bar {
    position: absolute;
    z-index: 2;
    height: 70px;
    width: 585px;
    max-width: 90vw;
    background: url(./black.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0% 100%);
}

.main-bar-text {
    color: white;
    font-weight: 600;
    font-size: 45px;
    z-index: 3;
    padding-right: 60px;
    position: relative;
    top: 10px;
    margin-left: 70px;
}
