@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --background: rgb(255,255,255);
  --primary-color: hsl(225, 100%, 50%);
  --primary-font-color: rgb(85, 85, 85);
  --secondary-font-color: rgba(55, 55, 55);
  --skeleton-bg-start: #e0e0e0;
  --skeleton-bg-middle: #f0f0f0;
  --skeleton-bg-end: #e0e0e0;
  --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  --box-shadow-container: var(--background);
}

[data-theme=dark] {
  --background: rgb(18,18,18);
  --primary-color: hsl(225, 100%, 75%);
  --primary-font-color: rgb(150, 150, 150);
  --secondary-font-color: rgba(200, 200, 200);
  --skeleton-bg-start: #2a2a2a;
  --skeleton-bg-middle: #3b3b3b;
  --skeleton-bg-end: #2a2a2a;
  --box-shadow: none;
  --box-shadow-container: rgb(31,31,31);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--background);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.main {
  width: 80%;
  margin: 50px auto;
}

.featured-article img,
.article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Sticky Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
  background: var(--backgound);
  padding: 5px 5%;
  color: var(--secondary-font-color);
}
nav .nav-left h1 {
  font-size: 3rem;
  font-weight: 900;
  transition: font-size 0.3s ease;
}
nav.scroleed .nav-left h1 {
  font-size: 1.5rem;
}
nav .nav-right {
  display: flex;
  align-items: center;
}
nav .nav-right a {
  margin-left: 20px;
  color: var(--secondary-font-color);
  text-decoration: none;
}
nav .nav-right a:hover {
  filter: brightness(1.1);
}

/* Dark Mode Switch */
.theme-switcher {
  display: flex;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}
.theme-switcher .fas {
  font-size: 30px;
  margin-left: 20px;
}
.theme-switcher .fas:hover {
  transform: scale(1.1);
}

/* Featured Article Styles */
.featured-article {
  margin-bottom: 50px;
}
.featured-article h1 {
  font-size: 2.5rem;
  color: var(--secondary-font-color);
  margin: 15px 0;
}
.featured-article p {
  font-size: 1.2rem;
  color: var(--primary-font-color);
  margin-bottom: 20px;
}

/* Smaller Articles Styles */
.smaller-articles {
  display: flex;
  justify-content: space-between;
}

.article {
  flex: 1;
  margin: 0 15px;
  background: var(--box-shadow-container);
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 5px;
}
.article h2 {
  font-size: 1.8rem;
  margin: 15px 0;
  color: var(--secondary-font-color);
}
.article p {
  font-size: 1rem;
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}
a:hover {
  filter: brightness(0.9);
}

article {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article h1 {
  font-size: 2.5rem;
  margin: 20px 0;
  color: var(--secondary-font-color);
}
article h2 {
  color: var(--secondary-font-color);
}
article p {
  font-size: 1.2rem;
  color: var(--primary-font-color);
}
article img {
  width: 500px;
  height: 700px;
  object-fit: cover;
}
article .text-content {
  width: 75ch;
  margin: auto 20px;
}

h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
  color: rgb(85, 85, 85);
}

/* Variations */
.centered-image-article img {
  width: 100%;
  max-height: 45vh;
  margin-bottom: 30px;
}

.left-image-article {
  flex-direction: row;
  align-items: flex-start;
}

.right-image-article {
  flex-direction: row-reverse;
  align-items: flex-start;
}

/* Skeleton Styles */
.featured-article-skeleton {
  margin-bottom: 50px;
}

.article-skeleton {
  flex: 1;
  margin: 0 15px;
  background: var(--box-shadow-container);
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 5px;
}

.skeleton-image,
.skeleton-line {
  background: linear-gradient(90deg, var(--skeleton-bg-start), var(--skeleton-bg-middle), var(--skeleton-bg-end));
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
.skeleton-image.skeleton-image,
.skeleton-line.skeleton-image {
  height: 300px;
}
.skeleton-image.skeleton-line,
.skeleton-line.skeleton-line {
  height: 25px;
  margin-bottom: 15px;
}
.skeleton-image.skeleton-line--large,
.skeleton-line.skeleton-line--large {
  height: 40px;
  margin: 40px auto;
}

.hidden {
  display: none;
}

/* Shimmer Aimation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 5px;
  min-height: 40px;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

/*# sourceMappingURL=compiled_style.css.map */
